<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <base target="_top">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="../index.html">Ana Sayfa</a></li>
      <li><a href="../sayfalar/ronesans.html">Rönesans</a></li>
      <li><a href="../sayfalar/kubizm.html">Kübizm</a></li>
      <li><a href="../sayfalar/barok.html">Barok</a></li>
      <li><a href="../sayfalar/surrealizm.html">Sürrealizm</a></li>
      <li><a href="../sayfalar/empresyonizm.html">Empresyonizm</a></li>
      <li><a href="../sayfalar/modernizm.html">Modernizm</a></li>
      <li><a href="../sayfalar/minigame.html">Quiz</a></li>
      <li><a href="../sayfalar/uyesayfasi.html">Kayıt Ol</a></li>
      <li><a href="../sayfalar/hakkimizda.html">Hakkımızda</a></li>
    </ul>
  </nav>
</body>
</html>